# Language & tokenization
transformers
sentencepiece==0.1.99
tokenizers==0.13.3

# Optional core packages
streamlit
numpy
pandas

# For file handling and parsing
PyMuPDF
pdfplumber
docx
openpyxl

# For rich tracebacks
rich

# Add only if needed
langchain
faiss-cpu
